.posts_wrapper {
  padding: 30px;
  &__title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  // ユーザー情報
  .user_field {
    font-size: 1.1rem;
    margin-bottom: 30px;
    text-align: center;
    &__login_user {
      padding: 5px 10px;
    }
    &__logout_btn {
      margin-left: 20px;
      margin-right: 10px;
      background-color: #BBBBBB;
      padding: 5px 10px;
      color: white;
      border: 1px solid;
      border-radius: 3px;
    }
    &__post_btn {
      background: #75A9FF;
      width: 100px;
      text-align: center;
      padding: 5px 15px;
      display: inline;
      border: 1px solid;
      border-radius: 5px;
      a {
        color: white;
      }
    }
    &__registration_btn {
      margin-left: 20px;
      margin-right: 10px;
      background-color:#BBBBBB;
      padding: 5px 10px;
      color: #555555;
      border: 1px solid;
      border-radius: 3px;
    }
    &__registration_new_btn {
      margin-left: 20px;
      margin-right: 10px;
      background-color: #75A9FF;
      padding: 5px 10px;
      color: #ffffff;
      border: 1px solid;
      border-radius: 3px;
    }
  }
  // 検索窓
  .search_wrap {
    width: 30%;
    padding: 15px 5px;
    font-size: 1.2rem;
    margin: 0 auto;
    &__field {
      display: flex;
      justify-content: center;
      &_type {
        border: 1px solid;
        margin: 0 15px;
      }
      &_btn {
        background: #FFFAF0;
        border: 1px solid;
        padding: 0 10px;
        border-radius: 5px;
      }
    }
  }
  // 一覧画面
  &__list {
    &_wrap {
      border: 3px solid #777777;
      width: 40%;
      padding: 10px;
      background: #FFFAF0;
      margin: 0 auto;
      margin-bottom: 20px;
      .post {
        font-size: 1.2rem;
        &__top_box {
          color: 	#808080;
          margin-bottom: 10px;
          &__name {
            margin-right: 50px;
          }
        }
        &__midle_box {
          &_title {
            font-size: 1.3rem;
            color: #000000;
          }
          &_image {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            flex-direction: row;
            &_field {
              margin: 5px;
              box-sizing: border-box;
            }
          }
        }
        &__under_box_admin {
          display: flex;
          justify-content: flex-end;
          font-size: 1rem;
          opacity: 0.7;
          &__editing_btn {
            color: 	#808080;
            margin: 0 5px;
          }
          &__delete_btn {
            color: 	#808080;
            margin: 0 5px;
          }
        }
      }
    }
    &_paginate {
      display: flex;
      justify-content: center;
      font-size: 1.2rem;
      .pagination>li>a {
        color: #000000;
        border: none;
      }
      .pagination>.active>a {
        background-color:  #75A9FF;
        border-radius: 15px;
      }
      .pagination>li>a:hover {
        border-radius: 15px;
      }
    }
  }
  // 新規投稿画面
  .post_content {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    &__area {
      &_title {
        text-align: center;
      }
    }
    .form_area {
      width: 80%;
      text-align: center;
      margin: 0 auto;
      &__user_name {
        font-size: 1.1rem;
        margin-bottom: 10px;
        display: block;
      }
      &__field {
        padding: 5px 10px;
        &_text {
          border: 1px solid;
          font-size: 1.1rem;
          margin-bottom: 20px;
        }
        &_image {
        }
      }
      &__action {
        margin-top: 30px;
        width: 55%;
        display: flex;
        justify-content: flex-end;
        &_btn {
          background: #75A9FF;
          color: white;
          padding: 10px 20px;
          border: 1px solid;
          border-radius: 40px;
        }
      }
    }
  }
  // 詳細画面
  &__show_wrap {
    border: 3px solid #777777;
    width: 100%;
    padding: 10px;
    background: #FFFAF0;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
