<div class="posts_list__field">
  <div class="posts_form">
    <div class="posts_title__area">
      <h2 class="posts_title">編集画面</h2>
    </div>
    <%= form_for @post, local: true,  html: {class: "form_area"} do |f| %>
        <div class="form_area__field">
          <%= f.text_area :title, class: "post_text", placeholder: "#{@post.title}", rows: 2, cols: 40%>

          <div class="form_area__hidden_field">
            <%= hidden_field :post, :user_id, value: current_user.id %>
          </div>

          <div class="form_area__action">
            <%= f.submit "更新", class: "form_area__action__btn" %>
          </div>

        </div>
    <% end %>
  </div>
</div>
